extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is some random content that I am adding
  p adding one more line
  P this is going to aws. isn't that cool. cool
  p another line for continues deployment

  p This is my first aws application